body {
  padding:0;
  margin:0;
}
img {
  max-width: 100%;
}
section {
  width: 100%;
  height: 100vh;
  display: table;
}
.slide {
  font-weight: lighter;
  font-size: 60px;
  font-family: avenir next;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}
.white {
  color: white;
}
.text-shadow-dark {
  text-shadow: 1px 1px #333;
}
.red-cross {
  display: inline-block;
  position: relative;
  width:260px;
  height:260px;
  margin: 20px;
}
.red-cross::before {
  content:'';
  display: block;
  background: red;
  width: 80px;
  height: 260px;
  position: absolute;
  left: 90px;
}
.red-cross::after {
  content:'';
  display: block;
  background: red;
  width: 260px;
  height: 80px;
  position: absolute;
  top: 90px;
}